$dark-blue: rgba(34, 32, 46, 1);
$light-blue: rgba(114, 110, 141, 1);
$background: rgba(42, 37, 75, 1);
$benefits-bg: rgba(249, 249, 249, 1);

/*======================================================== GLobal*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a,
ul,
li,
input,
button {
  text-decoration: none;
  list-style-type: none;
  background: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: auto;
}

/*================================================================ navbar*/

.nav-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: $background;
  padding-top: 11px;
  padding-bottom: 11px;
}

.nav-top-text {
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
}

.nav-close-icon {
  display: flex;
}
.nav-bottom {
  display: flex;
  padding: 25px 80px;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: $dark-blue;
}
.nav-links {
  display: flex;
  gap: 44px;
}
.nav-link {
  cursor: pointer;
  transition: all 0.3s linear;
  color: $dark-blue;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;

  &:hover {
    color: $light-blue;
  }
}
.nav-bottom-right {
  display: flex;
  gap: 16px;
}
.menu-bar {
  display: none;
}

@media screen and (max-width: 1050px) {
  .nav-links {
    display: flex;
    gap: 20px;
  }

  .nav-bottom {
    padding: 20px 24px;
  }
  .nav-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .nav-top {
    padding: 8px 16px;
    display: flex;
    justify-content: left;
  }

  .nav-links {
    display: none;
  }

  .menu-bar {
    display: block;
  }
}

/*============================================================== hero section*/

.hero-content {
  display: flex;
}

.hero-right {
  height: 100%;
  padding-top: 91px;
  padding-right: 40px;
  padding-left: 102px;
}
.hero-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-title {
  color: $background;
  font-size: 36px;
  font-weight: 400;
  line-height: 44.28px;
}
.hero-price {
  color: $background;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.4px;
  padding-top: 13px;
}
.hero-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
}
.hero-description-title {
  color: $dark-blue;
  padding-top: 54px;
}
.hero-description-text {
  color: rgba(80, 89, 119, 1);
  padding-top: 16px;
  padding-bottom: 23px;
  max-width: 610px;
}
.hero-lists {
  padding-top: 20px;
  padding-left: 16px;
}
.hero-list {
  list-style-type: disc;
  color: rgba(80, 89, 119, 1);
}
.hero-dimensions {
  padding-top: 27px;
  max-width: 602px;
}
.hero-dimensions-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
}
.hero-width {
  display: flex;
  gap: 58px;
  color: $background;
}
.hero-width p {
  padding-top: 28px;
}

.hero-widthh {
  padding-top: 12px;
  padding-bottom: 15px;
}

.hero-amount {
  padding-top: 37px;
  display: flex;
  align-items: center;
  max-width: 602px;
  justify-content: space-between;
}
.hero-amount-text {
  padding-right: 22px;
}
.hero-amount-left {
  display: flex;
  align-items: center;
}

.hero-btn {
  color: white;
  background-color: $background;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: rgb(62, 55, 107);
  }
}

.hero-amount-m {
  display: none;
}

@media screen and (max-width: 1110px) {
  .hero-right {
    width: 50%;
    height: 100%;
    padding-top: 91px;
    padding-right: 30px;
    padding-left: 80px;
  }

  .hero-btn {
    padding: 12px 20px;
    font-size: 12px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 970px) {
  .hero-btn {
    padding: 6px 10px;
    font-size: 8px;
    margin-left: 10px;
  }
  .hero-right {
    padding-left: 50px;
    padding-top: 50px;
  }

  .hero-amount {
    padding-top: 20px;
  }
  .hero-amount-img img {
    width: 100px;
  }
}

@media screen and (max-width: 767px) {
  .hero-content {
    flex-direction: column;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left-img {
    width: 100%;
    object-fit: cover;
  }

  .hero-right {
    padding: 0 24px;
    padding-top: 28px;
    padding-right: 24px;
    padding-left: 24px;
    height: 708px;
    width: 100%;
  }

  .hero-title {
    font-size: 24px;
    padding-top: -28px;
  }

  .hero-amount-img {
    display: none;
  }

  .hero-amount-m {
    display: block;
    padding-top: 12px;
  }

  .hero-amount-m img {
    width: 100%;
    height: 50px;
  }

  .hero-btn {
    width: 100%;
    margin-left: 0;
    font-size: 16px;
    padding: 16px 132px;
    margin-top: 16px;
    margin-bottom: 46px;
  }

  .hero-description-text {
    max-width: 100%;
  }

  .hero-description-title {
    padding-top: 44px;
  }
  .hero-amount {
    display: inline-block;
    width: 90%;
  }

  .hero-width {
    gap: 38px;
  }
}

@media screen and (max-width: 445px) {
  .hero-btn {
    padding: 14px;
  }
}

/*============================================= ceramics*/

.ceramics {
  padding-top: 80px;
  padding-bottom: 56px;
}

.ceramics-content {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ceramics-card {
  width: 305px;
}

.ceramics-card-img {
  height: 375px;
}

.ceramics-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ceramics-title {
  font-size: 32px;
  font-weight: 400;
  line-height: 39.36px;
  color: $background;
}

.ceramics-card__title {
  color: $background;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
}
.ceramics-card__price {
  color: $background;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 8px;
}

.ceramics-btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 32px;
  cursor: pointer;
  color: $background;
  transition: all 0.3s linear;
  background-color: rgba(249, 249, 249, 1);
  margin-top: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgb(233, 230, 230);
  }
}

@media screen and (max-width: 1350px) {
  .ceramics .container {
    padding: 0 24px;
  }
  .ceramics-content {
    gap: 16px;
  }
}

@media screen and (max-width: 960px) {
  .ceramics-content {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .ceramics {
    padding-top: 48px;
    padding-bottom: 38px;
  }
  .ceramics-content {
    justify-content: space-between;
    margin-top: 20px;
  }
  .ceramics-card {
    width: calc(50% - 8px);
  }

  .ceramics-title {
    padding-top: 48px;
  }
}

@media screen and (max-width: 576px) {
  .ceramics-card-img {
    height: 200px;
  }
  .ceramics-btn {
    width: 100%;
  }

  .ceramics-title {
    font-size: 20px;
  }
}

/*============================================ brand section*/

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}

.brand-title {
  color: $background;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}
.brand-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brand-card {
  max-width: 270px;
}
.brand-card__icon {
  padding-bottom: 16px;
}
.brand-cart__title {
  color: $background;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.brand-cart__text {
  color: $background;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}

/*=========================================================== benefits section*/

.benefits {
  background-color: $benefits-bg;
}
.benefits-content {
  background-color: rgba(255, 255, 255, 1);
  padding-top: 52px;
  padding-left: 94px;
  padding-right: 74px;
  padding-bottom: 65px;
}
.benefits-title {
  color: $background;
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
}
.benefits-text {
  color: $background;
  padding-top: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.benefits-inp_btn {
  padding-top: 72px;
  padding-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-inp {
  background-color: rgba(249, 249, 249, 1);
  padding: 16px 204px 16px 32px;
  cursor: pointer;
}
.benefits-btn {
  background-color: $background;
  color: white;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .benefits-content {
    padding-top: 48px;
    padding-left: 24px;
    padding-right: 37px;
    padding-bottom: 0;
    text-align: left;
  }

  .benefits-title {
    font-size: 20px;
    text-align: left;
  }

  .benefits-text {
    font-size: 14px;
    text-align: left;
  }
  .benefits-inp_btn {
    padding-bottom: 38px;
    padding-top: 64px;
    max-width: 100%;
    justify-content: left;
  }
}

@media screen and (max-width: 576px) {
  .benefits-content {
    width: 100%;
  }
  .benefits-inp {
    padding: 16px 12px 16px 10px;
    &::placeholder {
      font-size: 12px;
    }
  }
  .benefits-btn {
    padding: 12px 12px;
    font-size: 10px;
  }
}

/*=============================================================== footer */

footer {
  background: rgba(42, 37, 75, 1);
}
.ft-top {
  padding-top: 58px;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.ft-links {
  display: flex;
  gap: 133px;
  flex-wrap: wrap;
  gap: 109px;
}

.ft-links ol,
li,
a {
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgba(255, 255, 255, 1);
}

.ft-links a:hover {
  color: rgb(205, 193, 193);
}

.ft-links-logo {
  color: rgba(255, 255, 255, 1);
}
.ft-link-log-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 50.4px;
  padding-bottom: 16px;
}
.ft-links-logo-text {
font-size: 14px;
font-weight: 400;
line-height: 18.9px;
padding-bottom: 12px;
}

.ft-bottom {
  border-top: 1px solid white;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
}
.ft-bottom-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  color: rgba(255, 255, 255, 1);
}
.ft-bottom-icon {
  display: flex;
  gap: 24px;
}

.ft-bottom-icon-title{
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  padding-bottom: 22px;
  }

@media screen and (max-width: 1270px) {
  .footer .container {
    padding: 0 24px;
  }

  .ft-inp {
    padding: 17px 100px 17px 32px;
  }
}

@media screen and (max-width: 1050px) {
  .ft-top {
    display: flex;
    gap: 40px;
  }

  .ft-right-inp_btn {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .ft-top{
    padding-top: 40px;
    justify-content: space-between;
  }
  .ft-link3 {
    display: none;
  }

  .ft-inp {
    padding: 17px 30px 17px 32px;
  }

  .ft-btn {
    padding: 17px 20px;
  }

  .ft-bottom-icon {
    max-width: 120px;
    display: flex;
    flex-wrap:wrap ;

  }
  .ft-bottom-text {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 373px) {
  .ft-inp {
    padding: 17px 30px 17px 32px;
  }

  .ft-btn {
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
  }
}
